<a href="https://colab.research.google.com/github/slouxjiwon/itb.team/blob/main/%EC%95%84%EB%B9%84%ED%98%81_%EB%82%A0%EC%A7%9C%ED%8F%AC%EB%A7%B7%EB%B3%80%EA%B2%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#임포트

In [63]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [64]:
!apt -qq -y install fonts-nanum > /dev/null

import matplotlib.font_manager as fm

fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
fm._rebuild()

plt.rc('font', family='NanumGothic') 
plt.rc("axes", unicode_minus=False)

import matplotlib
matplotlib.font_manager._rebuild()
#한글이 깨지지 않도록 하는 코드. 한글이 깨질시 이 코드를 재 실행하고 실행해보세요.

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [65]:
%config InlineBackend.figure_format = 'retina'

In [66]:
from google.colab import drive
drive.mount('/content/drive')
#구글 드라이브 마운팅

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [67]:
market = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ITB/market_price.csv", encoding= 'cp949')
#csv 파일 받으실 때 여러분 경로에 맞게 수정하셔야 엔코딩 됩니다
#utp-8로 인코딩할시 16진수 때문에 에러남. cp949로 엔코딩했음

# 전처리

### 데이터 살펴보기 및 전처리

In [68]:
print(market.columns)
display(market.info())

Index(['일련번호', '시장/마트 번호', '시장/마트 이름', '품목 번호', '품목 이름', '실판매규격', '가격(원)',
       '년도-월', '비고', '시장유형 구분(시장/마트) 코드', '시장유형 구분(시장/마트) 이름', '자치구 코드',
       '자치구 이름', '점검일자'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89899 entries, 0 to 89898
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   일련번호               89899 non-null  int64
 1   시장/마트 번호           89899 non-null  int64
 2   시장/마트 이름           89899 non-null  object
 3   품목 번호              89899 non-null  int64
 4   품목 이름              89855 non-null  object
 5   실판매규격              89899 non-null  object
 6   가격(원)              89899 non-null  int64
 7   년도-월               89899 non-null  object
 8   비고                 89452 non-null  object
 9   시장유형 구분(시장/마트) 코드  89899 non-null  int64
 10  시장유형 구분(시장/마트) 이름  89899 non-null  object
 11  자치구 코드             89899 non-null  int64
 12  자치구 이름             89899 non-null  object
 13  점검일자               89899 non-null  object
dtypes: int64(6), object(8)
memory usage: 9.6+ MB

None

In [69]:
market.head() #위 아래 csv 러프하게 확인해봄.

,일련번호,시장/마트 번호,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),년도-월,비고,시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,자치구 코드,자치구 이름,점검일자
0,1636107,226,롯데마트 구로점,28,사과,1개 (300g),1598,2021-01,"국내산,부사",2,대형마트,530000,구로구,2021-01-21
1,1636108,226,롯데마트 구로점,27,배,1개 (600g),1590,2021-01,"국내산,신고",2,대형마트,530000,구로구,2021-01-21
2,1636109,226,롯데마트 구로점,26,배추,1포기(2kg),3990,2021-01,국내산,2,대형마트,530000,구로구,2021-01-21
3,1636110,226,롯데마트 구로점,25,무,1개 (900g),1990,2021-01,국내산,2,대형마트,530000,구로구,2021-01-21
4,1636111,226,롯데마트 구로점,24,양파,1개 (200g),990,2021-01,국내산,2,대형마트,530000,구로구,2021-01-21

In [70]:
market.tail() #필요없는 행 확인. 일련번호, 시장/마트 번호, 자치구코드, 자치구 이름, 비고는 그냥 열 삭제 하기로, 년도-월은 점검일자와 겹침

,일련번호,시장/마트 번호,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),년도-월,비고,시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,자치구 코드,자치구 이름,점검일자
89894,1724775,154,홈플러스 강동점,320,달걀(30개),특란,6490,2021-12,국내산,2,대형마트,740000,강동구,2021-12-30
89895,1724776,154,홈플러스 강동점,144,"조기(국산,냉동)",1마리,1190,2021-12,국내산3마리3570,2,대형마트,740000,강동구,2021-12-30
89896,1724777,154,홈플러스 강동점,264,"명태(냉동,수입산)",1마리,3490,2021-12,수입산(러시아),2,대형마트,740000,강동구,2021-12-30
89897,1724778,154,홈플러스 강동점,256,"오징어(냉동,국산)",1마리,4980,2021-12,국내산,2,대형마트,740000,강동구,2021-12-30
89898,1724779,154,홈플러스 강동점,266,"고등어(생물,국산)",1마리,3990,2021-12,국내산2마리7980,2,대형마트,740000,강동구,2021-12-30

In [71]:
df = market.drop(['일련번호','시장/마트 번호','자치구 코드','자치구 이름', '년도-월', '비고'], axis=1)

In [72]:
df.head() #삭제하고 보니 코드, 이름 등 열 이름이 너무 불필요하게 긺. 이를 깔끔하게 수정하고자 함.

,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,점검일자
0,롯데마트 구로점,28,사과,1개 (300g),1598,2,대형마트,2021-01-21
1,롯데마트 구로점,27,배,1개 (600g),1590,2,대형마트,2021-01-21
2,롯데마트 구로점,26,배추,1포기(2kg),3990,2,대형마트,2021-01-21
3,롯데마트 구로점,25,무,1개 (900g),1990,2,대형마트,2021-01-21
4,롯데마트 구로점,24,양파,1개 (200g),990,2,대형마트,2021-01-21

In [73]:
df.rename(columns={'시장유형 구분(시장/마트) 코드':'유형 코드', '시장유형 구분(시장/마트) 이름':'시장 유형', '점검일자':'일자'}, inplace=True)
#불필요하게 긴 열 이름을 변경, 기존 df에 변경을 주기 위하여 inplace는 True 값으로 설정
#점검일자는 그냥 일자로 변경
df.head()

   시장/마트 이름  품목 번호 품목 이름      실판매규격  가격(원)  유형 코드 시장 유형          일자
0  롯데마트 구로점     28    사과  1개 (300g)   1598      2  대형마트  2021-01-21
1  롯데마트 구로점     27     배  1개 (600g)   1590      2  대형마트  2021-01-21
2  롯데마트 구로점     26    배추   1포기(2kg)   3990      2  대형마트  2021-01-21
3  롯데마트 구로점     25     무  1개 (900g)   1990      2  대형마트  2021-01-21
4  롯데마트 구로점     24    양파  1개 (200g)    990      2  대형마트  2021-01-21

## 날짜 포맷 변경

In [74]:
df.dtypes #일자의 데이터 타입 확인, object형임

시장/마트 이름    object
품목 번호        int64
품목 이름       object
실판매규격       object
가격(원)        int64
유형 코드        int64
시장 유형       object
일자          object
dtype: object

In [75]:
df['일자2'] = pd.to_datetime(df['일자'], format='%Y-%m-%d') #변경해줄 새로운 열을 datetime으로 생성 (일자2)
df.head()

   시장/마트 이름  품목 번호 품목 이름      실판매규격  가격(원)  유형 코드 시장 유형          일자        일자2
0  롯데마트 구로점     28    사과  1개 (300g)   1598      2  대형마트  2021-01-21 2021-01-21
1  롯데마트 구로점     27     배  1개 (600g)   1590      2  대형마트  2021-01-21 2021-01-21
2  롯데마트 구로점     26    배추   1포기(2kg)   3990      2  대형마트  2021-01-21 2021-01-21
3  롯데마트 구로점     25     무  1개 (900g)   1990      2  대형마트  2021-01-21 2021-01-21
4  롯데마트 구로점     24    양파  1개 (200g)    990      2  대형마트  2021-01-21 2021-01-21

In [76]:
df.dtypes #확인해보면 일자2의 데이터 타입이 datetime64인 것을 확인할 수 있음

시장/마트 이름            object
품목 번호                int64
품목 이름               object
실판매규격               object
가격(원)                int64
유형 코드                int64
시장 유형               object
일자                  object
일자2         datetime64[ns]
dtype: object

In [77]:
df['일자3'] = df["일자2"].dt.strftime("%m/%d") #일자2의 데이터를 토대로 날짜 포맷을 변경하여 일자3을 생성한다
df

,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),유형 코드,시장 유형,일자,일자2,일자3
0,롯데마트 구로점,28,사과,1개 (300g),1598,2,대형마트,2021-01-21,2021-01-21,01/21
1,롯데마트 구로점,27,배,1개 (600g),1590,2,대형마트,2021-01-21,2021-01-21,01/21
2,롯데마트 구로점,26,배추,1포기(2kg),3990,2,대형마트,2021-01-21,2021-01-21,01/21
3,롯데마트 구로점,25,무,1개 (900g),1990,2,대형마트,2021-01-21,2021-01-21,01/21
4,롯데마트 구로점,24,양파,1개 (200g),990,2,대형마트,2021-01-21,2021-01-21,01/21
...,...,...,...,...,...,...,...,...,...,...
89894,홈플러스 강동점,320,달걀(30개),특란,6490,2,대형마트,2021-12-30,2021-12-30,12/30
89895,홈플러스 강동점,144,"조기(국산,냉동)",1마리,1190,2,대형마트,2021-12-30,2021-12-30,12/30
89896,홈플러스 강동점,264,"명태(냉동,수입산)",1마리,3490,2,대형마트,2021-12-30,2021-12-30,12/30
89897,홈플러스 강동점,256,"오징어(냉동,국산)",1마리,4980,2,대형마트,2021-12-30,2021-12-30,12/30
89898,홈플러스 강동점,266,"고등어(생물,국산)",1마리,3990,2,대형마트,2021-12-30,2021-12-30,12/30

In [78]:
df = df.drop(['일자','일자2'], axis=1)

In [79]:
df.rename(columns={'일자3':'일자'}, inplace=True)
df
#기존에 있었던 열을 삭제하고 이름을 변경.

       시장/마트 이름  품목 번호       품목 이름      실판매규격  가격(원)  유형 코드 시장 유형     일자
0      롯데마트 구로점     28          사과  1개 (300g)   1598      2  대형마트  01/21
1      롯데마트 구로점     27           배  1개 (600g)   1590      2  대형마트  01/21
2      롯데마트 구로점     26          배추   1포기(2kg)   3990      2  대형마트  01/21
3      롯데마트 구로점     25           무  1개 (900g)   1990      2  대형마트  01/21
4      롯데마트 구로점     24          양파  1개 (200g)    990      2  대형마트  01/21
...         ...    ...         ...        ...    ...    ...   ...    ...
89894  홈플러스 강동점    320     달걀(30개)         특란   6490      2  대형마트  12/30
89895  홈플러스 강동점    144   조기(국산,냉동)        1마리   1190      2  대형마트  12/30
89896  홈플러스 강동점    264  명태(냉동,수입산)        1마리   3490      2  대형마트  12/30
89897  홈플러스 강동점    256  오징어(냉동,국산)        1마리   4980      2  대형마트  12/30
89898  홈플러스 강동점    266  고등어(생물,국산)        1마리   3990      2  대형마트  12/30

[89899 rows x 8 columns]

In [80]:
df['품목 번호'].unique()
#품목 번호는 다음과 같이 있음. 
#고등어는 13, 266, 304 냉동 268 수입산 318
#배추는 307(1포기 2.5~3kg), 26, 중간 175 271
#무는 25 308(1개 1kg) 125 세척무 274
#배는 306, 27, 276
#오징어는 253, 254, 냉동 256
#돼지고기와 달걀은 해당 규격에 해당하는 적절한 데이터를 제공하지 않아 농수산물 안으로 변경

array([ 28,  27,  26,  25,  24,  23,  22, 312, 278, 285,  18, 171, 320,
       303, 302, 253,  13, 305, 306, 175, 274, 309, 310, 119,  58,  99,
       283, 260, 152, 254, 266, 307, 311, 265, 304, 282, 131, 136, 133,
       202, 284, 271, 118, 258, 308, 315,  52, 256, 144, 264, 275, 268,
        82, 259, 277, 321, 138, 125, 272, 276, 288,  17, 257,  50, 314,
       237, 248, 244, 318, 269, 261, 135, 313, 263, 255,  54, 267, 316,
       134, 181, 184, 201, 129, 106, 262, 324, 176])

In [81]:
df = df.sort_values('품목 번호') #물품들을 뭉쳐놓기 위해 품목 번호로 오름차순 정렬시킴.
df.head()

         시장/마트 이름  품목 번호 품목 이름      실판매규격  가격(원)  유형 코드 시장 유형     일자
47776        대림시장     13   고등어  1마리(380g)   4000      1  전통시장  07/29
53929  뉴코아아울렛 강남점     13   고등어    1마리446g   4990      2  대형마트  08/26
34283  뉴코아아울렛 강남점     13   고등어    1마리274g   5990      2  대형마트  05/27
43865   롯데백화점 강남점     13   고등어        1마리   7500      2  대형마트  07/29
32823     청량리종합시장     13   고등어  1마리(280g)   3000      1  전통시장  05/27

In [82]:
pear_list=[306, 27, 276]
market_pear = df[df['품목 번호'].isin(pear_list)]
market_pear.head() #품목 번호로 따로 묶어서 배의 리스트를 만듦

        시장/마트 이름  품목 번호 품목 이름         실판매규격  가격(원)  유형 코드 시장 유형     일자
40263   이마트 여의도점     27     배      1개(600g)   4225      2  대형마트  06/24
66321    영등포전통시장     27     배      1개(600g)   4000      1  전통시장  09/30
17560       인왕시장     27     배      1개(600g)   4000      1  전통시장  03/25
49647  현대백화점 신촌점     27     배      1개(670g)  14500      2  대형마트  07/29
53897  하나로클럽 양재점     27     배  1상자(6개)3000g  18800      2  대형마트  08/26

In [83]:
market_pear['품목 이름'].unique() #러프데이터가 이상하게 섞여있어, 결측치와 함께 사과 데이터를 market_pear에서 삭제하고자 함

array(['배', nan, '사과(부사)', '사과', '배(신고)', '배(신고, 600g)', '사과(부사, 300g)'],
      dtype=object)

In [84]:
market_pear = market_pear.dropna(axis=0) #결측치 삭제

In [85]:
apple = market_pear[market_pear['품목 이름'].str.contains('사과')].index #사과포함 행 삭제
market_pear.drop(apple, inplace=True)
market_pear

,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),유형 코드,시장 유형,일자
40263,이마트 여의도점,27,배,1개(600g),4225,2,대형마트,06/24
66321,영등포전통시장,27,배,1개(600g),4000,1,전통시장,09/30
17560,인왕시장,27,배,1개(600g),4000,1,전통시장,03/25
49647,현대백화점 신촌점,27,배,1개(670g),14500,2,대형마트,07/29
53897,하나로클럽 양재점,27,배,1상자(6개)3000g,18800,2,대형마트,08/26
...,...,...,...,...,...,...,...,...
49086,현대백화점 미아점,306,"배(신고, 600g)","1개 (2입 팩 21,000원)",10500,2,대형마트,07/29
88965,우림시장,306,"배(신고, 600g)",1개(600g),3000,1,전통시장,12/30
32944,하나로클럽 미아점,306,"배(신고, 600g)",600g,4170,2,대형마트,05/27
34505,용문시장,306,"배(신고, 600g)",1팩 2개,6000,1,전통시장,05/27
79879,홈플러스 잠실점,306,"배(신고, 600g)",600g,3990,2,대형마트,11/25

In [86]:
market_pear['실판매규격'].unique() #실판매 규격이 난장판이라, 봉, 상자, 팩 및 그 외의 이상치가 들어간 행을 제거하고자 함

array(['1개(600g)', '1개(670g)', '1상자(6개)3000g', '1개 (550g)', '1개',
       '1개(550g)', '1개(700g)', '1개500g', '1개(836g)', '1개(800g)',
       '1개(650g)', '1개600g', '1개(750g)', '1개(544g)', '1개 (600g)',
       '1박스(2500g)', '1봉지(2.6kg)', '1박스(2650g)', '1개(540g)', '1개550g',
       '1개 (800g)', '10개(600g)', '1개(630g)', '1개(500g)', '1개(812g)',
       '1개(554g)', '1개818g', '1개681g', '1개(350g)', '1개798g', '1개(530g)',
       '1개686g', '1박스(3000g)', '1개(525g)', '2개1860g', '1개 (700g)',
       '1개650g', '1개800g', '1봉지(1.7kg)', '1개684g', '1개750g', '1개(510g)',
       '1봉(3개)2000g', '1개 (3입 팩  15,900원 )', '1개(739g)', '1개(610g)',
       '1상자(7개)5000g   ', '1봉(2kg)', '3개1봉2kg', '30개(1.8kg)',
       '1상자(5개)3000g', '1팩 3~4개', '1개 (5개  box 12,900원 )', '1개 600g',
       '1개742g', '1개936g', '1개(595g)', '1개790g', '1개610g', '1개 (500g)',
       '1개(570g)', '1봉(3개)1778g', '1개775g', '1봉(2개)1700g', '1봉(2개)1136g',
       '1개704g', '1개896g', '1개(325g)', '1개 (3입 팩  22,000)', '1봉(3개)1954g',
       '1개 (3개 팩  28,000원)', '1박스(2700g)', '1개1086g', '1팩 2', '1개(515g)',
       '1개(제수용)', '1개(490g)', '1개(제수용,특)', '1봉(3개)1896g', '1개612g',
       '1개(590g)', '1팩 3~4', '1개 769g', '1봉지 2.5kg', '1팩1.7kg',
       '1팩 2.2kg', '1봉지 1.4kg', '1개744g', '1개 810g', '1개605g',
       '1봉(2개)1650g', '1개(536g)', '1개 821g', '1개652g', '1개648g',
       '1상자(4개)3000g', '1상자(7개)5000g', '1개828g', '1개(400g)', '1개 (300g)',
       '1개(620g)', '1개736g', '1개 768g', '1개 (4개 10,900원 )', '1봉(2개)1684g',
       '1개690g', '1개300g', '1개(450g)', '1봉(3개)1915g', '1개920g',
       '1봉(2개)1320g', '1봉(3개)1984g', '1박스(3kg)5개', '1개716g', '1개756g',
       '1개 (3개  팩  22,000원 )', '1봉(3개)1928g', '1개(560g)', '1개763g',
       '1개874g', '1개(1288g)2개', '1개(580g)', '1개663g', '1봉(1.7kg)3개',
       '1개610g ', '1개(578g)', '1개746g', '1봉(2개)1600g', '1팩(1244g)2개',
       '1개(852g)', '1팩(1367g)2개', '1봉지 1.6kg', '1개672g', '1개 785g',
       '1개(581g)', '1팩 1.7kg', '1봉지 196kg', '1팩 2kg', '1개(720g)',
       '1개(789g)', '1봉(3개)1878g', '1개(566g)', '1봉지(2.4kg)', '1개 649g',
       '1봉(3개)1930g', '1봉지(1.5kg)', '1개9600g)', '1개 759g', '1개660g',
       '1개 (3개 팩 17,900원)', '1개(480g)', '1개816g', '1팩(1.7kg)3개', '1개673g',
       '1개(711g)', '1개726g', '1개 786g', '1개(697g)', '1개662g', '1개620g',
       '1봉지 2.3kg', '1개830g', '1개 784g', '1개(537g)', '1봉(3개)1900g',
       '1개580g', '1개680g', '1봉(3개)1924g', '1봉지 1.7kg', '1개784g',
       '1봉(2개)1582g', '1개914g', '1봉(2개)1,678g', '1개962g', '1봉(2개)1328g',
       '1봉(3개)1982g', '1개[ 600g]', '1상자(6개)3kg', '1팩(1230g)2개', '1개720g',
       '1개(893g)', '1개(750kg)', '1개710g', '1개630g', '1봉지 1.5kg', '1개505g',
       '1팩(1957g)3개', '1개688g', '1개794g', '1개(555g)', '1봉지 1,7kg',
       '1개(467g)4개', '1봉 1800g4', '1개906g', '1팩3~4', '1봉(3개)1962g',
       '1개(657g)', '1개 ', '1봉(2개)1710g', '1개(832g)', '1상자(9개)3000g6',
       '1개510g', '1봉(3개)2218g', '1박스(2,700g)', '1개 (5개 10,800원 )',
       '2개1300g', '1570개g', '1개(680g)', '1봉(3개)g', '1개958g',
       '1박스(2,650g)', '1개(600g) ', '1개(639g)개', '1개778g', '1개640g',
       '1개918g', '1봉(2.5kg)', '1박스(3,000g)', '1팩 4개', '1박스(2,500g)',
       '1봉(3개)1880g', '1개(767g)', '1개694g', '1개762g', '1개666g',
       '1개(557g)', '1개764g', '1개(418g)', '1개(516g)', '1개700g',
       '1개 (4개  10,900원 )', '1봉(3개)1890g', '1개712g', '1개 699g',
       '1봉(3개)2056g', '1개 689g', '1봉지 1.3kg', '1개731g', '1봉(3개)1980g',
       '1개(300g)', '1개 800g', '1봉지 2.4kg', '1개 725g', '1개556g', '1개888g',
       '1개960g', '1개(456g)', '1개(640g)', '1봉(1.4kg)', '1봉(1.7kg)',
       '1개(780g)', '1개(830g)', '1개(770g)', '1봉(1.3kg)', '1봉(2.5k)',
       '1개(540g', '1봉(1.26kg)', '1봉(1kg)', '1봉(1.9kg)', '1개(598g)',
       '1봉(1.55kg)', '1개(880g)', '1개(850g)', '1개, 600g', '1개(710g)',
       '1개(930g)', '1개 540g', '1봉(1.6kg)', '1봉(1,8kg)', '1봉지4개',
       '1팩(1.6kg)', '1개(625g)', '1봉(1.2kg)', '1개(765g)', '1개(900g)',
       '1봉(1.25kg)', '1개(633g)', '1봉(2.4kg)', '1봉(4개)', '1개(840g)',
       '1봉(2.2kg)', '1봉(1.85kg)', '1개(447g)', '1개(740g)', '1개(384g)',
       '1개(470g)', '1봉(1.1kg)', '1봉(1.56kg)', '1개(330g)', '1개(890g)',
       '1봉(1.28kg)', '1개(730g)', '1개(575g)', '1개(599g)', '1마리(550g)',
       '1개(627g)', '1봉(1.95kg)', '1개(1.4kg)', '1개(588g)', '1봉(1.8kg)',
       '1개(505g)', '1개,600g', '1개 500g', '1팩(1.7kg)', '550g', '1개)500g)',
       '1팩(2.2kg)', '1개(593g)', '1개(660g)', '1개(460g)', '1개(615g)',
       '1개(493)', '1개(675g)', '1개(558g)', '1개(668g)', '0', '1봉(2.1kg)',
       '1개(760g)', '1개(587g)', '1봉(1.45kg)', '1 개', '1개(390g)',
       '1개(810g)', '600g', '1개(73.g)', '1개(612g)', '1개(484g)',
       '1봉(1.5kg)', '1팩(1.2kg)', '1개(820g)', '1봉(1.27kg)', '1개(420g)',
       '1개(426g)', '1개,(480g)', '1팩(1200g)', '1봉(2.3kg)',
       '1개 (1봉 4개 16,900원)', '1봉지(2.5kg)', '1개 (2개 팩 22,000원)', '1팩 2개',
       '1개(651g)', '1봉(2kg)3개', '1개(693g)', '1개 (1팩 2개 21,000원)',
       '1개  (2개 22,000원)', '1개615g ', '1팩 3개', '1개(619g)',
       '1개  (1봉 2개 8,900원)', '580g', '1개 (1봉 2개 10,000원)',
       '1개 (1팩 2개 12,000원)', '1개640g ', '1봉(3kg)4개', '1개(606g)', '500g',
       '1개 (1봉 3개 12,800원)', '1개 (4개 봉 16,900원)', '1개 (3개  10,000원 )',
       '1개 (1팩 4개 16,900원)', '1개(803g)', '1개(654g)', '1개 (2개 팩 10,000원)',
       '1개 (1팩 2개 22,000원)', '1개 (3개 팩 10,000원)', '1개 (2개 22,000원)',
       '1개  (2개 11,000원)', '1개 (2개 봉 9,000원)', '1개(577g)', '610g',
       '1개 (1봉 2개 8,900원)', '1개 (2개 팩  5,000원) ', '570g',
       '1개 (1팩 2개 10,000원)', '1개 (1봉 2개 9,980)', '1봉(1700g)3개',
       '1개(641g)', '1개 (1팩 2개 20,000원', '1개(635g)', '팩 4개', '1개(610G)',
       '1개 (1팩 2개 6,000원)', '1개 (2개 9,980원)', '1개(669g)', '1개(614g)',
       '1개600', '1개(798g)', '1개 (750g 내외)', '1개(645g)', '1봉(1998g)3개',
       '620g', '1개 (2개  팩  8,000원 )', '1개 (2개  팩 7,000원 )', '1봉(1857g)3개',
       '1개 (1팩 2개 20,000원)', '1개(813g)', '1개(642g)', '1팩 4~6개',
       '1개(576g)', '1봉(1744g)3개', '1개540g', '1ro(603g)', '1개(563g)3개',
       '1개 (1봉 2개 9,980원)', '1팩3개', '1개 (5개  박스 12,900원 )', '1개  (600g )',
       '1개 (3개 팩 18,000원)', '1개 (1팩 3개 15,800원)', '1봉(1806g)3개',
       '1개(607g)', '630g', '590g', '1봉(1913g)3개', '1봉(3개)', '1개(837g)',
       '1개 (600g )', '1팩(1847g)3개', '1개 (3입 팩  10,000원) ', '1팩 4~5',
       '1개 (1박스 5개 16,900원)', '1개 (2개 팩 19,000원)', '1개 (1팩 2개 18,000원)',
       '1개(616g)', '1개 (2개 8,980원)', '1개(571g)', '1개 (3개 10,000원 )',
       '1개(809g)', '1개 (3개 10,000원)', '1개 (2개  팩  8,000원)', '1개 600g ',
       '1개(648g)', '1개 (2개 팩 21,000원)', '1개(659g)', '1개(649g)',
       '1봉(1926g)3개', '1개 (3개 29,000원)', '1개 (5개 박스 24,000원)', '1망(4개)',
       '1개(617g)', '1개 (1팩 3개 11,800원)', '1개 (3입 팩 18,000원)', '1개(647g)',
       '1개(817g)', '1개(628g)', '1개 (4개 14,900원)', '봉(4개)', '1개(643g)',
       '1봉(1983g)3개', '1개  (5개 box 16,900', '1바스 4~6개', '1팩(1857g)3개',
       '1팩 ', '1개 (1봉 2개 8,980원)', '1개 (1봉 2개 18,000원)',
       '1개 (2입 팩 22,000원)', '1개 (2개 20,000원)', '1개(601g)', '1개(826g)',
       '1개 (1박스 5개 15,600원)', '1봉(1927g)3개', '1팩(997g)2개',
       '1개 (1팩 4개12,800원)', '1개(638g)', '1개(783g)', '1개 (830g내외)',
       '1봉(1926g)5개', '1개 (2개 8,900원)', '1개(623g)', '1개  (600g내외)',
       '1개(655g)', '1개 (1봉 2개 980g 8,900원)', '1봉(1999g)3개', '1팩 4~7개',
       '1개(609g)', '1봉(1845g)3개', '1개 (2개  5,000원 )',
       '1개  (2입 팩 21,000원)'], dtype=object)

In [87]:
non_data = market_pear[market_pear['실판매규격'].str.contains('봉|팩|상자|박스|망|2개1860|2개1300')].index #해당 문자 포함 행 전부 삭제
market_pear.drop(non_data, inplace=True)

In [88]:
non_data = market_pear[market_pear['실판매규격']=='0'].index
market_pear.drop(non_data, inplace=True)
non_data = market_pear[market_pear['실판매규격']=='10개(600g)'].index
market_pear.drop(non_data, inplace=True)
#0은 포함 시키면 행이 전부 날아가므로, 오로지 '0'으로 되어있는 요소의 행만 삭제
#10개는 위의 방식으로 하면 에러나서 이 방식으로 처리

In [89]:
market_pear['실판매규격'].unique() #1개만 남은 것을 확인할 수 있다

array(['1개(600g)', '1개(670g)', '1개 (550g)', '1개', '1개(550g)', '1개(700g)',
       '1개500g', '1개(836g)', '1개(800g)', '1개(650g)', '1개600g', '1개(750g)',
       '1개(544g)', '1개 (600g)', '1개(540g)', '1개550g', '1개 (800g)',
       '1개(630g)', '1개(500g)', '1개(812g)', '1개(554g)', '1개818g', '1개681g',
       '1개(350g)', '1개798g', '1개(530g)', '1개686g', '1개(525g)',
       '1개 (700g)', '1개650g', '1개800g', '1개684g', '1개750g', '1개(510g)',
       '1개(739g)', '1개(610g)', '30개(1.8kg)', '1개 (5개  box 12,900원 )',
       '1개 600g', '1개742g', '1개936g', '1개(595g)', '1개790g', '1개610g',
       '1개 (500g)', '1개(570g)', '1개775g', '1개704g', '1개896g', '1개(325g)',
       '1개1086g', '1개(515g)', '1개(제수용)', '1개(490g)', '1개(제수용,특)',
       '1개612g', '1개(590g)', '1개 769g', '1개744g', '1개 810g', '1개605g',
       '1개(536g)', '1개 821g', '1개652g', '1개648g', '1개828g', '1개(400g)',
       '1개 (300g)', '1개(620g)', '1개736g', '1개 768g', '1개 (4개 10,900원 )',
       '1개690g', '1개300g', '1개(450g)', '1개920g', '1개716g', '1개756g',
       '1개(560g)', '1개763g', '1개874g', '1개(1288g)2개', '1개(580g)',
       '1개663g', '1개610g ', '1개(578g)', '1개746g', '1개(852g)', '1개672g',
       '1개 785g', '1개(581g)', '1개(720g)', '1개(789g)', '1개(566g)',
       '1개 649g', '1개9600g)', '1개 759g', '1개660g', '1개(480g)', '1개816g',
       '1개673g', '1개(711g)', '1개726g', '1개 786g', '1개(697g)', '1개662g',
       '1개620g', '1개830g', '1개 784g', '1개(537g)', '1개580g', '1개680g',
       '1개784g', '1개914g', '1개962g', '1개[ 600g]', '1개720g', '1개(893g)',
       '1개(750kg)', '1개710g', '1개630g', '1개505g', '1개688g', '1개794g',
       '1개(555g)', '1개(467g)4개', '1개906g', '1개(657g)', '1개 ', '1개(832g)',
       '1개510g', '1개 (5개 10,800원 )', '1570개g', '1개(680g)', '1개958g',
       '1개(600g) ', '1개(639g)개', '1개778g', '1개640g', '1개918g', '1개(767g)',
       '1개694g', '1개762g', '1개666g', '1개(557g)', '1개764g', '1개(418g)',
       '1개(516g)', '1개700g', '1개 (4개  10,900원 )', '1개712g', '1개 699g',
       '1개 689g', '1개731g', '1개(300g)', '1개 800g', '1개 725g', '1개556g',
       '1개888g', '1개960g', '1개(456g)', '1개(640g)', '1개(780g)', '1개(830g)',
       '1개(770g)', '1개(540g', '1개(598g)', '1개(880g)', '1개(850g)',
       '1개, 600g', '1개(710g)', '1개(930g)', '1개 540g', '1개(625g)',
       '1개(765g)', '1개(900g)', '1개(633g)', '1개(840g)', '1개(447g)',
       '1개(740g)', '1개(384g)', '1개(470g)', '1개(330g)', '1개(890g)',
       '1개(730g)', '1개(575g)', '1개(599g)', '1마리(550g)', '1개(627g)',
       '1개(1.4kg)', '1개(588g)', '1개(505g)', '1개,600g', '1개 500g', '550g',
       '1개)500g)', '1개(593g)', '1개(660g)', '1개(460g)', '1개(615g)',
       '1개(493)', '1개(675g)', '1개(558g)', '1개(668g)', '1개(760g)',
       '1개(587g)', '1 개', '1개(390g)', '1개(810g)', '600g', '1개(73.g)',
       '1개(612g)', '1개(484g)', '1개(820g)', '1개(420g)', '1개(426g)',
       '1개,(480g)', '1개(651g)', '1개(693g)', '1개  (2개 22,000원)', '1개615g ',
       '1개(619g)', '580g', '1개640g ', '1개(606g)', '500g',
       '1개 (3개  10,000원 )', '1개(803g)', '1개(654g)', '1개 (2개 22,000원)',
       '1개  (2개 11,000원)', '1개(577g)', '610g', '570g', '1개(641g)',
       '1개(635g)', '1개(610G)', '1개 (2개 9,980원)', '1개(669g)', '1개(614g)',
       '1개600', '1개(798g)', '1개 (750g 내외)', '1개(645g)', '620g',
       '1개(813g)', '1개(642g)', '1개(576g)', '1개540g', '1ro(603g)',
       '1개(563g)3개', '1개  (600g )', '1개(607g)', '630g', '590g',
       '1개(837g)', '1개 (600g )', '1개(616g)', '1개 (2개 8,980원)', '1개(571g)',
       '1개 (3개 10,000원 )', '1개(809g)', '1개 (3개 10,000원)', '1개 600g ',
       '1개(648g)', '1개(659g)', '1개(649g)', '1개 (3개 29,000원)', '1개(617g)',
       '1개(647g)', '1개(817g)', '1개(628g)', '1개 (4개 14,900원)', '1개(643g)',
       '1개  (5개 box 16,900', '1바스 4~6개', '1개 (2개 20,000원)', '1개(601g)',
       '1개(826g)', '1개(638g)', '1개(783g)', '1개 (830g내외)',
       '1개 (2개 8,900원)', '1개(623g)', '1개  (600g내외)', '1개(655g)',
       '1개(609g)', '1개 (2개  5,000원 )'], dtype=object)

In [90]:
market_pear = market_pear.drop(['실판매규격', '품목 이름'], axis=1) #다 맞춰줬기 때문에, 규격과 이름을 밀고 다시 같은 요소로 통일시켜서 새로운 열을 생기게 하려고 함
market_pear['단위'] = '1'
market_pear['품목'] = '배'
market_pear

        시장/마트 이름  품목 번호  가격(원)  유형 코드 시장 유형     일자 단위 품목
40263   이마트 여의도점     27   4225      2  대형마트  06/24  1  배
66321    영등포전통시장     27   4000      1  전통시장  09/30  1  배
17560       인왕시장     27   4000      1  전통시장  03/25  1  배
49647  현대백화점 신촌점     27  14500      2  대형마트  07/29  1  배
40721       대림시장     27   4000      1  전통시장  06/24  1  배
...          ...    ...    ...    ...   ...    ... .. ..
63188    이마트 성수점    306   4933      2  대형마트  09/30  1  배
36298  롯데백화점 미아점    306   8270      2  대형마트  06/24  1  배
88965       우림시장    306   3000      1  전통시장  12/30  1  배
32944  하나로클럽 미아점    306   4170      2  대형마트  05/27  1  배
79879   홈플러스 잠실점    306   3990      2  대형마트  11/25  1  배

[4251 rows x 8 columns]

In [91]:
#일자, 품목, 품목 번호, 단위, 가격, 시장이름, 시장 유형, 유형 코드 순으로 순서를 깔끔하게 변경하기로 함
#일자 순으로 정렬, 그리고 인덱스 재정렬
pear = market_pear[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
pear = pear.sort_values('일자')
pear.reset_index(drop=True, inplace=True)
pear
#품목 배에 대하여 전처리 완료
#같은 전처리를 품목별로 반복

         일자 품목  품목 번호 단위  가격(원)   시장/마트 이름 시장 유형  유형 코드
0     01/21  배     27  1   1590   롯데마트 구로점  대형마트      2
1     01/28  배    306  1   2180    이마트 성수점  대형마트      2
2     01/28  배    306  1   3500     마천중앙시장  전통시장      1
3     01/28  배     27  1   4000       대조시장  전통시장      1
4     01/28  배    306  1   3500       방이시장  전통시장      1
...     ... ..    ... ..    ...        ...   ...    ...
4246  12/30  배    306  1   2500       경동시장  전통시장      1
4247  12/30  배     27  1   4330  홈플러스 월드컵점  대형마트      2
4248  12/30  배    306  1   6000  롯데백화점 잠실점  대형마트      2
4249  12/30  배     27  1   3000     대림중앙시장  전통시장      1
4250  12/30  배    276  1   3500       송화시장  전통시장      1

[4251 rows x 8 columns]

In [92]:
mackerel_list=[13, 266, 304] #고등어 생물, 국내산
squid_list=[253, 254] #오징어 생물 
cabbage_list=[307, 26, 175, 271] #배추
radish_list=[25, 308, 125] #무(세척무 아님)

In [93]:
market_mackerel = df[df['품목 번호'].isin(mackerel_list)]
market_squid = df[df['품목 번호'].isin(squid_list)]
market_cabbage = df[df['품목 번호'].isin(cabbage_list)]
market_radish = df[df['품목 번호'].isin(radish_list)]

품목 이름 정리

In [94]:
market_mackerel['품목 이름'].unique()

array(['고등어', nan, '고등어(생물,국산)', '오징어(생물,국산)', '오징어(냉동,국산)'], dtype=object)

In [95]:
market_mackerel=market_mackerel.dropna(axis=0)
squid_non = market_mackerel[market_mackerel['품목 이름'].str.contains('오징어')].index
market_mackerel.drop(squid_non, inplace=True)
market_mackerel['품목 이름'].unique()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

array(['고등어', '고등어(생물,국산)'], dtype=object)

In [96]:
market_squid['품목 이름'].unique()

array(['오징어', '오징어(생물,국산)', '명태(러시아,냉동)', '고등어(생물,수입산)', '명태(냉동,수입산)',
       '명태(45cm,수입산)', '명태(생물,수입산)', '고등어', '명태', '동태'], dtype=object)

In [97]:
market_squid=market_squid.dropna(axis=0)
fish_non = market_squid[market_squid['품목 이름'].str.contains('명태|동태|고등어')].index
market_squid.drop(fish_non, inplace=True)
market_squid['품목 이름'].unique()

array(['오징어', '오징어(생물,국산)'], dtype=object)

In [98]:
market_cabbage['품목 이름'].unique()

array(['배추', '배(신고)', '배(신고, 600g)', '배', '배추(중간)', '배추(2.5~3kg)'],
      dtype=object)

In [99]:
market_cabbage=market_cabbage.dropna(axis=0)
pear_non = market_cabbage[market_cabbage['품목 이름'].str.contains('신고')].index
market_cabbage.drop(pear_non, inplace=True)
pear_non = market_cabbage[market_cabbage['품목 이름']=='배'].index
market_cabbage.drop(pear_non, inplace=True)
market_cabbage['품목 이름'].unique()

array(['배추', '배추(중간)', '배추(2.5~3kg)'], dtype=object)

In [100]:
market_radish['품목 이름'].unique()

array(['무', '배추', '배추(2.5~3kg)', '배추(중간)', '배추(국산)', '무(1kg)'],
      dtype=object)

In [101]:
market_radish=market_radish.dropna(axis=0)
cab_non = market_radish[market_radish['품목 이름'].str.contains('배추')].index
market_radish.drop(cab_non, inplace=True)
market_radish['품목 이름'].unique()

array(['무', '무(1kg)'], dtype=object)

실판매규격 정리

In [102]:
market_mackerel = market_mackerel.query('실판매규격.str.contains("1마리")', engine='python')
#1마리 포함 행 다 뽑기
non_data = market_mackerel[market_mackerel['실판매규격'].str.contains('cm 2마리|cm 3마리|cm3마리|cm 4마리')].index
market_mackerel.drop(non_data, inplace=True)
market_mackerel['실판매규격'].unique()

array(['1마리(380g)', '1마리446g', '1마리274g', '1마리', '1마리(280g)', '1마리570g',
       '1마리(220g)', '1마리(400g)', '1마리 30cm ', '1마리[30cm]', '1마리(30cm)',
       '1마리(224g)', '1마리29cm', '1마리(320g)', '1마리 35cm ',
       '1마리 (3마리 5,000원)', '1마리25cm', '1마리(230g)', '1마리(321g)',
       '1마리 340g', '1마리330g', '1마리308g', '1마리(250g)', '1마리290g',
       '1마리390g', '1마리(350g)', '1마리288g', '1마리376g', '1마리(30m)',
       '1마리(410g)', '1마리30cm', '1마리30g676cm', '1마리(25cm)', '1마리(310g)',
       '1마리420g', '1마리480g', '1마리475g', '1마리470g', '1마리 30cm 6마리 ',
       '1마리320g', '1마리.25cm', '1마리  325g', '1마리642g', '1마리725g30cm',
       '1마리350g', '1마리(500g)', '1마리 330g', '1마리500g', '1마리(300g)',
       '1마리 335g', '1마리(35cm)', '1마리(520g)', '1마리650g', '1마리450g',
       '1마리374g', '1마리(450g)', '1마리 320g', '1마리 25cm', '1마리708g',
       '1마리(480g)', '1마리545g27cm', '1마리516g', '1마리588g', '1마리35cm ',
       '1마리490g', '1마리30cm)', '1마리534g', '1마리(386g)', '1마리(211g)',
       '1마리31cm', '1마리(270g)', '1마리(210g)', '1마리(240g)', '1마리286g',
       '1마리338g', '1마리544g', '1마리634g', '1마리 (1팩 2마리 7,160원)', '1마리550g',
       '1마리260g', '1마리378g', '1마리(355g)', '1마리 (2마리 6,560원)', '1마리(33cm)',
       '1마리352g', '1마리396g', '1마리530g', '1마리 350g', '1마리(465g)',
       '1마리 310g', '1마리356g', '1마리304g', '1마리700g', '1마리336g', '1마리266g',
       '1마리722g', '1마리(490g)', '1마리750g', '1마리(366g)', '1마리620g',
       '1마리30센치', '1마리(444g)', '1마리354g', '1마리284g', '1마리495g27cm',
       '1마리 (300g)', '1마리384g', '1마리 (2마리 5,000원', '1마리(505g)', '1마리300g',
       '1마리(330g)', '1마리754g30cm', '1마리 25cm ', '1마리358g', '1마리(640g)',
       '1마리(34cm)', '1마리(255g)', '1마리856g30cm', '1마리28cm', '1마리(418G)',
       '1마리(30cm', '1마리400g', '1마리(260g)', '1마리372g', '1마리 300g',
       '1마리718g', '1마리(533g)', '1마리392g', '1마리930cm)', '1마리(32cm)',
       '1마리524g', '1마리  315g', '1마리(468g)', '1마리520g', '1마리(392g)',
       '1마리422g', '1마리280g', '1마리772g', '1마리(420g)', '1마리296g', '1마리436g',
       '1마리324g', '1마리486g', '1마리(232g)', '1마리328g', '1마리636g',
       '1마리 315g', '1마리(470g)', '1마리 (2마리 7,160원)', '1마리600g',
       '1마리766g32cm', '1마리628g29cm', '1마리680g29cm', '1마리660g',
       '1마리(345g)', '1마리540g', '1마리724g', '1마리684g', '1마리668g', '1마리418g',
       '1마리(422g)', '1마리292g', '1마리494g', '1마리425g32cm', '1마리460g',
       '1마리(440g)', '1마리270g', '1마리대)', '1마리 (2마리 5,000원)', '1마리450g ',
       '1마리 30cm  3마리', '1마리574g', '1마리726g', '1마리 410g', '1마리(28cm)',
       '1마리 28cm', '1마리(353g)', '1마리(200g)', '1마리(31m)', '1마리(31cm)',
       '1마리(대)', '1마리(24cm)', '1마리(690g)', '1마리(26cm)', '1마리cm',
       '1마리22cm', '1마리 (3마리  5,000원 )', '1마리(580g)', '1마리 45cm ',
       '1마리(중)', '1마리(328g)', '1마리 ', '1마리(45cm)', '1마리 (5마리  5,000원 )',
       '1마리23cm', '1마리 20cm', '1마리20cm', '1마리26cm', '1마리(310G)',
       '1마리(30ccm)', '1마리32cm', '1마리(중간)', '1마리 30cm', '1마리18cm',
       '1마리(323g)', '1마리35cm', '1마리 (2마리  5,000원 )', '1마리(390g)',
       '1마리21cm', '1마리  (3마리  5,000원 )', '1마리45cm', '1마리(300)g',
       '1마리 26cm', '1마리560g', '1마리34cm', '1마리401g21cm', '1마리(20cm)',
       '1마리650g27cm', '1마리(326g)', '1마리((587g)', '1마리 35cm', '1마리(244g)',
       '1마리(237g)', '1마리(400G)', '1마리(357g)', '1마리30cm ', '1마리(354g)',
       '1마리 2마리  5,000원 )', '1마리 (2마리 팩 4,980원)', '1마리(316g)', '1마리33cm',
       '1마리,30cm', '1마리((30cm)', '1마리(362g)', '1마리384g22cm',
       '1마리293g20cm', '1마리(234', '1마리(22cm)', '1마리(501g)',
       '1마리 (2마리  7,780원 )', '1마리(308G)', '1마리330g17cm', '1마리27cm',
       '1마리19cm', '1마리(243g)', '1마리24cm', '1마리(27cm)', '1마리550g19cm',
       '1마리19g380cm', '1마리,중간', '1마리394g25cm', '1마리280g18cm', '1마리(23cm)',
       '1마리,대', '1마리 (2마리  5,000원', '1마리 (2마리 팩 7,960원))', '1마리(290g)',
       '1마리510g', '1마리(365g)', '1마리.20cm', '1마리(332g)', '1마리(312g)',
       '1마리(36cm)', '1마리 (3마리 5,008원)', '1마리((330g)', '1마리(235g)',
       '1마리(286g)', '1마리 ( 2마리 팩 7,160원)', '1마리 (2마리 팩 7,160원)',
       '1마리(363g)', '1마리(301g)', '1마리(421g)', '1마리((28cm)', '1마리(311g)',
       '1마리(3마리 5,000원)', '1마리 40cm ', '1마리590g', '1마리(1팩 2마리 4,950원)',
       '1마리28cm1', '1마리(289g)', '1마리380g', '1마리(268g)', '1마리(275g)',
       '1마리(298g)', '1마리440g', '1마리(432g)', '1마리(322g)',
       '1마리(2마리 5,000원)', '1마리(212g)', '1마리 (2마리 팩7,960원)', '1마리((33cm)',
       '1마리426g', '1마리(1팩 3마리 5,000원1', '1마리 (5마리 5,000원)', '1마리(360g)',
       '1마리 (2마리 5000원)', '1마리(1팩 3마리 5,000원)'], dtype=object)

In [103]:
market_squid = market_squid.query('실판매규격.str.contains("1마리")', engine='python')
non_data = market_squid[market_squid['실판매규격'].str.contains('cm 2마리|cm  2마리|cm 3마리|cm3마리|cm 4마리|cm 6마리|21마리')].index
market_squid.drop(non_data, inplace=True)
market_squid['실판매규격'].unique()

array(['1마리', '1마리[25cm]', '1마리(25cm)', '1마리(35cm)', '1마리(380g)',
       '1마리(400g)', '1마리(340g)', '1마리 30cm 1마리', '1마리 (4마리 10,000원)',
       '1마리(320g)', '1마리 390g', '1마리25cm', '1마리 494g', '1마리(30cm)',
       '1마리 395g', '1마리(300g)', '1마리  (3마리 5,000원)', '1마리360g', '1마리280g',
       '1마리175g', '1마리220g', '1마리 26cm', '1마리(237g)', '1마리(396g)',
       '1마리416g', '1마리(390g)', '1마리(40cm)', '1마리 (5마리 10,000원)',
       '1마리 35cm', '1마리230g', '1마리(230g)', '1마리(200g)', '1마리350g ',
       '1마리 280g', '1마리272g', '1마리400g', '1마리(220g)', '1마리 28cm',
       '1마리 (2마리 10,000원)', '1마리20cm', '1마리(280g)', '1마리(420g)',
       '1마리 385g', '1마리(350g)', '1마리 370g', '1마리(250g)',
       '1마리 (3마리 10,000원)', '1마리300g', '1마리 380g', '1마리332g', '1마리275g',
       '1마리 30cm ', '1마리 30cm', '1마리(4마리 10,000원)', '1마리25센치', '1마리180g',
       '1마리250g', '1마리.25cm', '1마리.20cm', '1마리(395g)', '1마리(392g)',
       '1마리(430g)', '1마리206g', '1마리193g', '1마리(40mc)', '1마리746g',
       '1마리235g', '1마리(370g)', '1마리 (300g)', '1마리(대)', '1마리347g28cm',
       '1마리235g28cm', '1마리(중간)', '1마리270g', '1마리 (2마리  10,000원 )',
       '1마리(330g)', '1마리240g', '1마리182g28cm', '1마리195g', '1마리165g',
       '1마리 (2마리  10,000원 )1', '1마리 ', '1마리[30cm]', '1마리(160g)',
       '1마리(26cm)', '1마리(27cm)', '1마리200g', '1마리245g21cm', '1마리328g',
       '1마리(292g)', '1마리25cm이상', '1마리(277g)', '1마리280g21cm',
       '1마리302g24cm', '1마리(1팩 2마리 7,360원)', '1마리(2마리 10,000원)',
       '1마리 396g', '1마리(310g)', '1마리25cm2마리', '1마리 (4마리 10000원)',
       '1마리30cm', '1마리170g', '1마리28cm', '1마리354g29cm', '1마리160g',
       '1마리925cm)', '1마리360g28cm', '1마리26cm', '1마리250g27cm', '1마리210g',
       '1마리246g', '1마리(36cm)', '1마리 25cm ', '1마리(1kg)', '1마리(23cm)',
       '1마리340g', '1마리(17cm)', '1마리387g33cm', '1마리(24cm)',
       '1마리(1팩 2마리 7,960원)', '1마리 35cm ', '1마리 (2마리 13,500원)',
       '1마리 (4마리 9,680원)', '1마리31cm', '1마리20cm 7마리 ', '1마리(313G)',
       '1마리380g', '1마리 (1팩 2마리 10,000원)', '1마리(301g)', '1마리320g',
       '1마리(21cm)', '1마리(225g)', '1마리 25cm', '1마리(311g)', '1마리330g',
       '1마리(22cm)', '1마리(291g)', '1마리(2마리 16,000원)', '1마리310g',
       '1마리 (3마리 팩 12,000원 )', '1마리370g', '1마리 (1팩 2마리 15,000원)',
       '1마리45cm', '1마리(1팩 2마리 10,000원)', '1마리 (1팩 2마리 11,960원)',
       '1마리35cm', '1마리 (1팩 2마리 13,500원)', '1마리(20cm)', '1마리42cm',
       '1마리 20cm', '1마리29cm', '1마리 (.2마리  10,000원 )', '1마리(294g)',
       '1마리(104g)', '1마리 (4마리 15,000원)', '1마리(1팩 2마리 5,500원)', '1마리390g',
       '1마리(18cm)', '1마리 (2마리  10,000원 2', '1마리 (2마리  13,000원 )',
       '1마리(28cm)', '1마리 (2마리 15,000원 )', '1마리(1팩 2마리 11,000원)',
       '1마리(34cm)', '1마리,대', '1마리 30cm  ', '1마리(403g)', '1마리(319g)',
       '1마리(410g)', '1마리(211g)', '1마리(170g)', '1마리(33cm)', '1마리(256g)',
       '1마리 (4마리 팩 12,000원)', '1마리(38cm)', '1마리(300)g',
       '1마리(2마리 팩 7,600원)', '1마리(335g)', '1마리30cm ', '1마리 (2마리 팩 5,960원)',
       '1마리(32cm)', '1마리 (2마리  5,000원 )', '1마리,중간', '1마리(500g)',
       '1마리 (2마리 15,500원)', '1마리 (2마리  팩 15,000원 )', '1마리(365g)',
       '1마리(중)', '1마리(167g)', '1마리(287g)', '1마리cm', '1마리(417g)',
       '1마리293g29cm', '1마리410g', '1마리330g32cm', '1마리490g27cm', '1마리33cm',
       '1마리295gcm', '1마리(231g)', '1마리420g', '1마리(342g)',
       '1마리 (1팩 4마리 12,000원)', '1마리 (2마리 팩 7,960원)', '1마리 (35m) ',
       '1마리 (21팩 2마리 13,960원)', '11마리 (3마리  10,000원 )', '1마리32cm',
       '1마리(307g)', '1마리 (1팩 3마리 15,000원)', '1마리(대_', '1마리(260g)',
       '1마리 (2마리 8,560원)', '1마리(312g)', '1마리(321g)', '1마리426g',
       '1마리 (2마리  팩  9,000원 )', '1마리(3마리10,000원)', '1마리(290g)',
       '1마리(174g)', '1마리 (2마리  팩  13,500원 )', '1마리  (2마리  14,000원)',
       '1마리(278g)', '1마리(37cm)', '1마리 (1팩 4마리 10,000원)', '1마리20cm)',
       '1마리(179g)', '1마리(343g)', '1마리(251g)', '1마리 (4마리 팩 13,280원)',
       '1마리27cm', '1마리(263g)', '1마리 (1팩 2마리 6,760원)', '1마리(270g)',
       '1마리350g', '1마리 (4마리 16,000원)', '1마리(1팩 2마리 7,560원)',
       '1마리(1팩 2마리 12,000원)', '1마리(298g)', '1마리 (2마리 7,560원)',
       '1마리(450g)', '1마리(377g)', '1마리(2마리 팩 10,000원)', '1마리(331g)',
       '1마리283g21cm', '1마리(4마리 16,000원)', '1마리(300G)', '1마리176g27cm',
       '1마리 (2마리 13,500원 )', '1마리 (2마리 7,600원)', '1마리 (2마리 12,000원)',
       '1마리24cm)', '1마리370g31cm', '1마리(318g)', '1마리(19cm)', '1마리(45cm)'],
      dtype=object)

In [104]:
market_cabbage = market_cabbage.query('실판매규격.str.contains("1포기|1개")', engine='python')
#non_data = market_cabbage[market_cabbage['실판매규격'].str.contains('')].index
#market_cabbage.drop(non_data, inplace=True)
market_cabbage['실판매규격'].unique()

array(['1포기(2kg)', '1개2340g', '1포기', '1포기(2.2kg)', '1포기(2,750g)',
       '1포기(200g)', '1개2774g', '1포기(2.8kg)', '1포기(600g)', '1포기(1.7kg)',
       '1포기(2.5kg)', '1포기 2.5kg', '1포기 2.1kg', '1포기(1.5kg)',
       '1포기(3.35kg)', '1포기 ', '1포기(2750g)', '1포기(2.35kg)', '1포기(1.8kg)',
       '1포기(2.1kg)', '1포기 (3입 망  10,000원 )', '1포기 2.6kg', '1포기(2.6kg)',
       '1포기(3kg)', '1개2114g', '1포기(2800g)', '1포기(3.65kg)', '1포기(700g)',
       '1개2920g', '1포기1.7kg', '1포기(3.1kg)', '1포기(2790g)', '1개2308g',
       '1포기 2.4kg', '1개2140g', '1개2182g', '1개1356g', '1포기2.5-3kg',
       '1개2048g', '1포기1.5kg', '1포기(3.9kg)', '1포기(2.85kg)', '1포기  ',
       '1포기(1..8kg)', '1개3144g', '1개2330g', '1개1500g', '1개2662g',
       '1포기(530g)', '1개1578g', '1포기2.5kg', '1개2300g', '1개2932g',
       '1개2522g', '1개2474g', '1포기2kg', '1개1340g', '1개2076g', '1개2050g',
       '1개1588g', '1포기(2.3kg)', '1개2134g', '1개(1846g)', '1포기(3.5kg)',
       '1포기(1.3kg)', '1개2.5kg', '1포기(3.55kg)', '1개588g', '1개', '1개2460g',
       '1포기 (3입  망  11,000원 ', '1개1712g', '1개3070g', '1포기(3.8kg)',
       '1개2070g', '1개1848g', '1개1600g', '1포기(1.5.kg)', '1개1856g',
       '1개2278g', '1개2172g', '1포기(2.4kg)', '1개2326g', '1개2906g',
       '1개2160g', '1개 2.5kg', '1개1705g', '1포기 (100g  1,000원 )', '1개1684g',
       '1개2500g', '1개2738g', '1개2080g', '1개2110g', '1개2074g', '1개1810g',
       '1개2600g', '1개1815g', '1포기(1.6kg)', '1개2628g', '1개2036g',
       '1개2808g', '1개2062g', '1개1852g', '1포기(1.9kg)', '1개2592g',
       '1개1618g', '1개1764g', '1포기(650g)', '1개,2074g', '1포기(1.4kg)',
       '1개2462g', '1개1398g', '1개2900g', '1포기(3.3kg)', '1개2008g',
       '1포기(800g)', '1포기(2.kg)', '1포기(1.85kg)', '1포기(906g)', '1개2018g',
       '1개2933g', '1개2126g', '1개3344g', '1개(2.2kg)', '1포기(900g)',
       '1개2480g', '1개2418g', '1개1928g', '1개(600g)', '1개2760g', '1개2633g',
       '1개2286g', '1포기(776g)', '1개2262g', '1포기 2kg', '1포기(710g)',
       '1개2838g', '1포기 (3입  망  14,000원) ', '1포기(1.65', '1개(2.5kg)',
       '1개(1.5kg)', '1포기(1kg)', '1개2764g', '1개2806g',
       '1포기  (100g  1,000원 )', '1개2512g', '1개2092g', '1포기 2.2kg',
       '1개1760g', '1개1670g', '1개2158g', '1개1660g', '1개3086g', '1포기2.6kg',
       '1개2400g', '1포기(1.65kg)', '1개2116g', '1포기(660g)', '1포기(544g)',
       '1개2800g', '1포기(2.0kg)', '1개1896g', '1개2450g', '1포기(1.2kg)',
       '1포기(2.25kg)', '1개1342g', '1포기(1000g)', '1개2,508g', '1개g',
       '1개2,358g', '1포기2.9kg', '1개2510g', '1개2210g', '1개1996g', '1개1964g',
       '1개2130g', '1개(2kg)', '1개2538g', '1개1778g', '1개3500g',
       '1포기(2,800g)', '1포기(580g)', '1포기(770g)', '1개3604g', '1개2570g',
       '1개2772g', '1개4000g', '1개2632g', '1개1740g', '1개(500g)', '1개1525g',
       '1개1836g', '1포기(1,4kg)', '1개2100g', '1포기(1k)', '1포기(843g)',
       '1개1560g', '1포기(1.35kg)', '1포기(2.7kg)', '1포기 (2kg)', '1개3200g',
       '1개1974g', '1개2000g', '1포기알배기', '1개2540g', '1개3470g', '1개3062g',
       '1개2078g', '1개2054g', '1개2302g', '1개1200g', '1포기(3.2kg)',
       '1개2794g', '1개2712g', '1포기  (3입 망 12,000원) ', '1개3000g',
       '1포기(4.1kg)', '1포기(2.18kg)', '1개2,394g', '1포기1.8kg)', '1개1516g',
       '1개2420g', '1개2264g', '1개(550g)', '1개(900g)', '1포기1940g',
       '1개3360g', '1개2232g', '1포기(1,8kg)', '1개2982g', '1개1908g',
       '1포기1540g', '1포기(944g) (100g 1,000원) ', '1개2492g', '1개2622g',
       '1포기(1800g)', '1개2372g', '1개3472g', '1개2750g', '1개1484g',
       '1포기(2.9kg)', '1개3024g', '1개2235g', '1개2950g', '1개1656g',
       '1개1,136g', '1개1984g', '1개3248g', '1포기780g', '1개2458g', '1개1700g',
       '1개2994g', '1개1804g', '1포기 (2,5~3kg )', '1개1422g', '1개2198g',
       '1개1972g', '1개2578g', '1개(4.95kg)', '1개1372g', '1개2260g',
       '1포기 2.3kg', '1개1774g', '1개2180g', '1개2459g', '1개2734g', '1개2284g',
       '1개1982g', '1개2098g', '1개2200g', '1개2412g', '1개2276g', '1개2294g',
       '1개2152g', '1개2370g', '1포기(2,5kg)', '1포기(2.5k이상)', '1포기(2.5kg이상)',
       '1포기(중간)', '1포기 (3입 망  8,000원)', '1포기  (3입 망 9,000원)',
       '1포기(3,5kg)', '1포기(335g)', '1포기(766g)', '1포기(1890g)',
       '1포기(2..5kg)', '1포기 (반통 3,000원)', '1포기3.0kg', '1포기820g',
       '1포기 (3입 망 13,000원)', '1포기(2,7kg)', '1포기 (반통 2,500원)', '1포기(726g)',
       '1포기 (3입 망 8,000원)', '1포기(대)', '1포기(558g)', '1포기(3입 망 12,000원)',
       '1포기2.4kg', '1포기(646g)', '1포기420g', '1포기(925g)', '1포기1',
       '1포기(3입 망 13,000원)', '1포기 (3입 망 8,000)', '1포기(3입 망 7,000원)',
       '1포기(3.5KG)', '1포기  (3입 망10,000원)', '1포기2.8kg', '1포기(414g)',
       '1포기(2.5g)', '1포기 (반통 2,700원)', '1포기(1724g)', '1포기(500g)',
       '1포기(557g)', ' 1포기(335g)', '1포기(497g)', '1포기(613g)', '1포기(914g)',
       '1포기(832g)', '1포기(1924g)', '1포기 (3입 망 10,000원)', '1개 ',
       '1포기(583g)', '1포기(597g)', '1포기(850g)', '1포기  (2,5 ~3kg)',
       '1포기 (3입 망 12,000원)', '1포기(563g)', '1포기(643g)', '1포기(745g)',
       '1포기(3입 망 8,500원)', '1포기(542g)', '1포기 (1망 3입 12,000원)',
       '1포기 (반통 3,200원)', '1포기(612g)', '1포기 (반통 2.200원)',
       '1포기(3입 망 8,000원)', '1포기(324g)', '1포기 (1망 3포기 10,000원)',
       '1포기 (봉) 800g)', '1개2360g', '1포기(790g)', '1포기(1915g)',
       '1포기 (3입 망 9,000원)', '1포기(589g)', '1포기(532g)', '1포기2.2kg',
       '1포기(642g)', '1포기(624g)', '1포기(1527g)', '1포기(2.5g)이상', '1포기(487g)',
       '1포기(647g)', '1포기(1899g)', '1포기 (반통  3,800원 )', '1포기(1650g)',
       '1포기 (3입 망 13,000)', '1포기(671g)', '1포기(433g)',
       '1포기 (3입  망 13.,000원 ', '1포기(1778g)', '1포기  (3입  망  11,000원 )',
       '1포기9423g)', '1포기 (반통 2,000원)', '1포기 (3입  망  14,000원 )',
       '1포기(3입 망 9,000원)', '1포기(521g)', '1포기(1730g)', '1개1816g',
       '1포기(603g)', '1포기(860g)', '1포기 (3입  망  10,000원 )', '1포기3.1kg',
       '1포기(3.3KG)', '1포기 (3입 망  15,000원 )', '1포기(1820g)', '1포기(1677g)',
       '1포기(811g)'], dtype=object)

In [105]:
market_radish = market_radish.query('실판매규격.str.contains("1개")', engine='python')
market_radish['실판매규격'].unique()

array(['1개(2kg)', '1개(1.1kg)', '1개(1,6kg)', '1개(1.7kg)', '1개', '1개 ',
       '1개(800g)', '1개(1.8kg)', '1개(1kg)', '1개(1,2kg)', '1개(1.3kg)',
       '1개2960g', '1개(1319g)', '1개1360g', '1개1601g', '1개2272g',
       '1개(1.5kg)', '1개(1,8kg)', '1개(1.4kg)', '1개2352g', '1개 1.5kg',
       '1개(1.2kg)', '1개1416g', '1개(1.78kg)', '1개1868g', '1개(390g)',
       '1개(900g)', '1개(1,3kg)', '1개1590g', '1개1898g', '1개1660g',
       '1개1684g', '1개2098g', '1개(2.1kg)', '1개(1,5kg)', '1개(1.6kg)',
       '1개2366g', '1개1700g', '1개1662g', '1개(1.45kg)', '1개1.5kg',
       '1개1882g', '1개 1.2kg', '1개2306g', '1개(1567g)', '1개(1.65kg)',
       '1개(1.9kg)', '1개(2.kg)', '1개(2.3kg)', '1개1784g', '1개1922g',
       '1개(1200g)', '1개1594g', '1개1844g', '1개1724g', '1개1423g', '1개1910g',
       '1개1366g', '1개2066g', '1개2256g', '1개(1208g)', '1개1604g',
       '1개 1.6kg', '1개 1.3kg', '1개1526g', '1개1962g', '1개2218g', '1개   ',
       '1개(2.4kg)', '1개1934g', '1개2332g', '1개(2.7kg)', '1개1928g',
       '1개1680g', '1개1816g', '1개2236g', '1개(200g)', '1개1650g', '1개1946g',
       '1개1,822g', '1개(1500g)', '1개3180g', '1개(1000g)', '1개(1121g)',
       '1개2000g', '1개(1072g)', '1개2100g', '1개2026g', '1개2126g', '1개2142g',
       '1개1850g', '1개2212g', '1개2022g', '1개(1,200g)', '1개1148g',
       '1개 (900g)', '1개1942g', '1개(394g)', '1개1258g', '1개2062g',
       '1개 (800g)', '1개1790g', '1개1540g', '1개(2.2kg)', '1개1654g',
       '1개1734g', '1개(1545g)', '1개(2.klg)', '1개1970g', '1개 1.1kg',
       '1개1960g', '1개(1350g)', '1개1860g', '1개1578g', '1개1334g',
       '1개 1.4kg', '1개(1.56kg)', '1개2015g', '1개1180g', '1개(1300g)',
       '1개(1.75kg)', '1개(1.36kg)', '1개(1,262g)', '1개(1.95kg)', '1개1.3kg',
       '1개(1.5KG)', '1개2280g', '1개1kg', '1개(1759g)', '1개(1171g)',
       '1개(1996g)', '1개(1263g)', '1개1690g', '1개1,996g', '1개1804g',
       '1개1.2kg', '1개2346g', '1개(2.8kg)', '1개(1717g)', '1개1834g',
       '1개2.000g', '1개1,934g', '1개1.1kg', '1개1716g', '1개(1780g)',
       '1개1626g', '1개1200g', '1개175g', '1개2266g', '1개(3kg)', '1개1488g',
       '1개2722g', '1개2230g', '1개1820g', '1개1518g', '1개1600g', '1개(1690g)',
       '1개1668g', '1개(2.0kg)', '1개1466g', '1개3338g', '1개1520g', '1개1476g',
       '1개(1124g)', '1개1512g', '1개1800g', '1개1904g', '1개  소(1.2kg)',
       '1개(1257g)', '1개(1,000g)', '1개1592g', '1개1932g', '1개1940g',
       '1개1620g', '1개2084g', '1개2426g', '1개1760g', '1개2344g', '1개(1.8KG)',
       '1개(2.6kg)', '1개1950g', '1개2088g', '1개(1.5', '1개g1838', '1개1500g',
       '1개2116g', '1개(1602g)', '1개1322g', '1개1708g', '1개2018g', '1개2122g',
       '1개2038g', '1개1768g', '1개2900g', '1개2136g', '1개2500g', '1개2322g',
       '1개1598g', '1개1532g', '1개1358g', '1개2512g', '1개2470g', '1개1414g',
       '1개2856g', '1개(1.76kg)', '1개92.3kg)', '1개1798g', '1개(1680g)',
       '1개(2.9kg)', '1개1766g', '1개2040g', '1개1300g', '1개(1012g)',
       '1개 (1,8kg 내외)', '1개(1.88kg)', '1개(1.44kg)', '1개(2.5kg)',
       '1개2250g', '1개1370g', '1개g', '1개(1,7kg)', '1개2050g', '1개(1.8g)',
       '1개1608g', '1개1776g', '1개2102g', '1개1402g', '1개1890g', '1개1586g',
       '1개1538g', '1개1282g', '1개1772g', '1개1542g', '1개(1256g)',
       '1개(1.35kg)', '1개2214g', '1개1744g', '1개1912g', '1개1628g',
       '1개(1.55kg)', '1개(1892g)', '1개2234g', '1개(384g)', '1개1886g',
       '1개1806g', '1개(1645g)', '1개1736g', '1개1562g', '1개2204g', '1개1570g',
       '1개1900g', '1개1894g', '1개1656g', '1개(1,4kg)', '1개1,812g',
       '1개1658g', '1개1705g', '1개(,1.6kg)', '1개2300g', '1개1826g',
       '1개(1856g)', '1개(1,kg)', '1개(1700g)', '1개1426g', '1개1730g',
       '1개1710g', '1개(1280g)', '1개1780g', '1개2070g', '1개(1876g)',
       '1개(1.8 kg)', '1개1606g', '1개(1440g)', '1개(1403g)', '1개1636g',
       '1개(1238g)', '1개1420g', '1개(2.45kg)', '1개1740g', '1개2308g',
       '1개(400g)', '1개2146g', '1개(3.1kg)', '1개2542g', '1개2826g',
       '1개1554g', '1개(987g)', '1개1.4kg', '1개(1706g)', '1개(1229g)',
       '1개(1557g)', '1개(1872g)', '1개(1290g)', '1개(1516g)', '1개(1456g)',
       '1개(1329g)', '1개(1399g)', '1개(1494g)', '1개(1583g)', '1개(1388g)',
       '1개(1420g)', '1개(1849g)', '1개(1921g)', '1개(1472g)', '1개(1168g)',
       '1개(1785g)', '1개(1367g)', '1개(1390g)', '1개(1250g)', '1개(973g)',
       '1개(1098g)', '1개(1381g)', '1개(1667g)', '1개(1650g)', '1개(1609g)',
       '1개(1641g)', '1개(1418g)', '1개(1665g)', '1개(1215g)', '1개(1513g)',
       '1개(1548g)', '1개(1333g)', '1개  ', '1개(1308g)', '1개(1748g)',
       '1개(2,2kg)', '1개(1373g)', '1개(2,3kg)', '1개(1711g)', '1개(1347g)',
       '1개(1252g)', '1개(1.2g)', '1개(1358g)', '1개(1721g)', '1개(1085g)',
       '1개(1094g)', '1개(1800g)', '1개(1514g)', '1개(1520g)', '1개(1664g)',
       '1개(1508g)', '1개(1747g)', '1개(1860g)', '1개(1369g)', '1개(1397g)',
       '1개(1497g)', '1개(1389g)', '1개(1920g)', '1개(1412g)', '1개(1523g)',
       '1개(1491g)', '1개(1506g)', '1개(1864g)', '1개(1377g)', '1개(1006g)',
       '1개(1657g)', '1개(1119g)', '1개(1773g)', '1개(1498g)', '1개(1476g)',
       '1개(1458g)'], dtype=object)

품목, 단위 통일

In [106]:
market_mackerel = market_mackerel.drop(['실판매규격', '품목 이름'], axis=1)
market_mackerel['단위'] = '1'
market_mackerel['품목'] = '고등어'

In [107]:
market_squid = market_squid.drop(['실판매규격', '품목 이름'], axis=1)
market_squid['단위'] = '1'
market_squid['품목'] = '오징어'

In [108]:
market_cabbage = market_cabbage.drop(['실판매규격', '품목 이름'], axis=1)
market_cabbage['단위'] = '1'
market_cabbage['품목'] = '배추'

In [109]:
market_radish = market_radish.drop(['실판매규격', '품목 이름'], axis=1)
market_radish['단위'] = '1'
market_radish['품목'] = '무'

## 전처리 마무리

In [132]:
mackerel = market_mackerel[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
mackerel = mackerel.sort_values('일자')
mackerel.reset_index(drop=True, inplace=True)
mackerel

         일자   품목  품목 번호 단위  가격(원)    시장/마트 이름 시장 유형  유형 코드
0     01/21  고등어     13  1   5990    롯데마트 구로점  대형마트      2
1     01/28  고등어    266  1   6500   현대백화점 신촌점  대형마트      2
2     01/28  고등어    266  1   8900   롯데백화점 미아점  대형마트      2
3     01/28  고등어     13  1   5990  뉴코아아울렛 강남점  대형마트      2
4     01/28  고등어    266  1   4000      화곡본동시장  전통시장      1
...     ...  ...    ... ..    ...         ...   ...    ...
4170  12/30  고등어    266  1   2980     이마트 은평점  대형마트      2
4171  12/30  고등어    266  1   4000        대림시장  전통시장      1
4172  12/30  고등어    266  1   4990   NC백화점 불광점  대형마트      2
4173  12/30  고등어    266  1   4500      대림중앙시장  전통시장      1
4174  12/30  고등어    266  1   4000        경동시장  전통시장      1

[4175 rows x 8 columns]

In [111]:
squid = market_squid[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
squid = squid.sort_values('일자')
squid.reset_index(drop=True, inplace=True)
squid

         일자   품목  품목 번호 단위  가격(원)   시장/마트 이름 시장 유형  유형 코드
0     01/21  오징어    253  1    333   롯데마트 구로점  대형마트      2
1     01/28  오징어    253  1   4500     서울중앙시장  전통시장      1
2     01/28  오징어    253  1   4600     서울중앙시장  전통시장      1
3     01/28  오징어    254  1   6400     세이브 마트  대형마트      2
4     01/28  오징어    254  1   5000     장위골목시장  전통시장      1
...     ...  ...    ... ..    ...        ...   ...    ...
3702  12/30  오징어    254  1   5000      목3동시장  전통시장      1
3703  12/30  오징어    254  1   4100    이마트 창동점  대형마트      2
3704  12/30  오징어    254  1   6590  홈플러스 월드컵점  대형마트      2
3705  12/30  오징어    254  1   8000  롯데백화점 노원점  대형마트      2
3706  12/30  오징어    254  1   4000       신영시장  전통시장      1

[3707 rows x 8 columns]

In [112]:
cabbage = market_cabbage[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
cabbage = cabbage.sort_values('일자')
cabbage.reset_index(drop=True, inplace=True)
cabbage

         일자  품목  품목 번호 단위  가격(원)      시장/마트 이름 시장 유형  유형 코드
0     01/21  배추     26  1   3990      롯데마트 구로점  대형마트      2
1     01/28  배추    307  1   2950  농협 하나로마트 용산점  대형마트      2
2     01/28  배추     26  1   2500          동원시장  전통시장      1
3     01/28  배추     26  1   2280       이마트 상봉점  대형마트      2
4     01/28  배추     26  1   4900    롯데백화점 영등포점  대형마트      2
...     ...  ..    ... ..    ...           ...   ...    ...
4266  12/30  배추    307  1   3990      홈플러스 등촌점  대형마트      2
4267  12/30  배추    307  1   8000        신세계백화점  대형마트      2
4268  12/30  배추    307  1   4000          신창시장  전통시장      1
4269  12/30  배추    307  1   5000       둔촌역전통시장  전통시장      1
4270  12/30  배추     26  1   3330      홈플러스 강동점  대형마트      2

[4271 rows x 8 columns]

In [113]:
radish = market_radish[['일자', '품목', '품목 번호', '단위', '가격(원)', '시장/마트 이름', '시장 유형', '유형 코드']]
radish = radish.sort_values('일자')
radish.reset_index(drop=True, inplace=True)
radish

         일자 품목  품목 번호 단위  가격(원)   시장/마트 이름 시장 유형  유형 코드
0     01/21  무     25  1   1990   롯데마트 구로점  대형마트      2
1     01/28  무     25  1   1500     고척근린시장  전통시장      1
2     01/28  무     25  1   2290  홈플러스 영등포점  대형마트      2
3     01/28  무     25  1   1580   이마트 여의도점  대형마트      2
4     01/28  무     25  1   2500    영등포전통시장  전통시장      1
...     ... ..    ... ..    ...        ...   ...    ...
4345  12/30  무     25  1   1500       뚝도시장  전통시장      1
4346  12/30  무    308  1   1000       신창시장  전통시장      1
4347  12/30  무     25  1   2000       송화시장  전통시장      1
4348  12/30  무    308  1   2600  롯데백화점 강남점  대형마트      2
4349  12/30  무     25  1   1680    이마트 미아점  대형마트      2

[4350 rows x 8 columns]

각 전처리 완료된 데이터 프레임을 호출하려면,

배 : pear | 고등어 : mackerel | 오징어 : squid | 배추 : cabbage | 무 : radish

로 호출하면 됩니다.

# 도매 데이터 불러오기

In [ ]:
from google.colab import files
files.upload()
#xlsx 파일을 직접 파일 라이브러리에서 업로드 할 수 있습니다. 한번에 여러개 가능.

In [120]:
!pip install openpyxl #xlsx 파일을 하기에 앞서, 런타임에 존재하는 파일을 초기화합니다.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)

각 xlsx 파일에 있어서 결측치는 없으나, 만일 파이썬 내에서 일자 / 평균으로 전처리가 추가로 필요하실 경우, 밑의 코드에 파일 이름을 복붙하시면 됩니다. xlsx파일은 무처럼 고랭지 행이 따로 있는 경우와, 고등어처럼 그냥 일자-평년-평균-서울 행으로 이루어진 경우가 있습니다. 각각 다른 전처리 과정을 넣어두었습니다.

###고등어 도매 가격의 경우

In [ ]:
#데이터 받아오기
mack_dome =pd.read_excel('/content/고등어도매_중품_10kg.xlsx') #엑셀파일을 받아와, csv파일로 변환
mack_dome.to_csv('고등어도매_10kg')
mack_dome = pd.read_csv('고등어도매_10kg')

#데이터 전처리
mack_dome = mack_dome.transpose() #행과 열 뒤집기
mack_dome.reset_index(level=0, inplace=True) #인덱스가 된 일자를 열로 들여옴
mack_dome = mack_dome.drop(0, axis=0) #불필요한 첫번째 행 삭제
mack_dome.columns = ['일자', '평균'] #컬럼 이름을 변경
mack_dome = mack_dome.drop(1, axis=0) #불필요한 두번쨰 행 삭제
mack_dome.reset_index(drop=True, inplace=True) #인덱스 초기화
mack_dome.head()

###무 도매 가격의 경우

In [ ]:
#데이터 받아오기
radi_dome =pd.read_excel('/content/무도매_중품_20kg.xlsx') #엑셀파일을 받아와, csv파일로 변환
radi_dome.to_csv('무도매')
radi_dome = pd.read_csv('무도매')

#데이터 전처리
radi_dome = radi_dome.transpose() #행과 열 뒤집기
radi_dome.reset_index(level=0, inplace=True) #인덱스가 된 일자를 열로 들여옴
radi_dome = radi_dome.drop(0, axis=0) #불필요한 첫번째 행 삭제
radi_dome.columns = ['일자', '평균'] #컬럼 이름을 변경
radi_dome = radi_dome.drop(1, axis=0) #불필요한 두번쨰 행 삭제
radi_dome=radi_dome.dropna(axis=0) #결측치 삭제
radi_dome.reset_index(drop=True, inplace=True) #인덱스 초기화
radi_dome.head()

###배 도매의 경우

In [ ]:
#데이터 받아오기
pear_dome =pd.read_excel('/content/배도매_중품_15kg.xlsx') #엑셀파일을 받아와, csv파일로 변환
pear_dome.to_csv('배도매')
pear_dome = pd.read_csv('배도매')

#데이터 전처리
pear_dome = pear_dome.transpose() #행과 열 뒤집기
pear_dome.reset_index(level=0, inplace=True) #인덱스가 된 일자를 열로 들여옴
pear_dome = pear_dome.drop(0, axis=0) #불필요한 첫번째 행 삭제
pear_dome.columns = ['일자', '평균'] #컬럼 이름을 변경
pear_dome = pear_dome.drop(1, axis=0) #불필요한 두번쨰 행 삭제
pear_dome.reset_index(drop=True, inplace=True) #인덱스 초기화
pear_dome.head()

###배추 도매의 경우

In [ ]:
#데이터 받아오기
cabb_dome =pd.read_excel('/content/배추도매_중품_10kg.xlsx') #엑셀파일을 받아와, csv파일로 변환
cabb_dome.to_csv('배추도매')
cabb_dome = pd.read_csv('배추도매')

#데이터 전처리
cabb_dome = cabb_dome.transpose() #행과 열 뒤집기
cabb_dome.reset_index(level=0, inplace=True) #인덱스가 된 일자를 열로 들여옴
cabb_dome = cabb_dome.drop(0, axis=0) #불필요한 첫번째 행 삭제
cabb_dome.columns = ['일자', '평균'] #컬럼 이름을 변경
cabb_dome = cabb_dome.drop(1, axis=0) #불필요한 두번쨰 행 삭제
cabb_dome=cabb_dome.dropna(axis=0) #결측치 삭제
cabb_dome.reset_index(drop=True, inplace=True) #인덱스 초기화
cabb_dome.head()

###오징어 도매의 경우

In [ ]:
#데이터 받아오기
squid_dome =pd.read_excel('/content/오징어도매_중품_1kg.xlsx') #엑셀파일을 받아와, csv파일로 변환
squid_dome.to_csv('오징어도매')
squid_dome = pd.read_csv('오징어도매')

#데이터 전처리
squid_dome = squid_dome.transpose() #행과 열 뒤집기
squid_dome.reset_index(level=0, inplace=True) #인덱스가 된 일자를 열로 들여옴
squid_dome = squid_dome.drop(0, axis=0) #불필요한 첫번째 행 삭제
squid_dome.columns = ['일자', '평균'] #컬럼 이름을 변경
squid_dome = squid_dome.drop(1, axis=0) #불필요한 두번쨰 행 삭제
squid_dome.reset_index(drop=True, inplace=True) #인덱스 초기화
squid_dome.head()

#도메데이터 처리하기 (예시)

밑의 코드는 엑셀로 전처리가 된 파일에 대하여 조금 수정한 세로 전처리 입니다.
다음과 같이 전처리 해주시면 됩니다.

In [128]:
mack_dome =pd.read_excel('/content/고등어도매_중품_10kg.xlsx')
mack_dome.to_csv('고등어도매')
mack_dome = mack_dome.transpose() #행과 열 뒤집기
mack_dome.reset_index(level=0, inplace=True) #인덱스가 된 일자를 열로 들여옴
mack_dome = mack_dome.drop(0, axis=0) #불필요한 첫번째 행 삭제
mack_dome.columns = ['일자', '평균'] #컬럼 이름을 변경
mack_dome=mack_dome.dropna(axis=0) #결측치 삭제
mack_dome.reset_index(drop=True, inplace=True) #인덱스 초기화
mack_dome.head()

      일자     평균
0  01/04  59000
1  01/05  61600
2  01/06  61600
3  01/07  61600
4  01/08  61600

In [137]:
mack_dome['일자'] = pd.to_datetime(mack_dome['일자'], format='%m/%d')
mack_dome.dtypes
#mack_dome의 일자도 혹시 몰라 같은 datetime형으로 바꿔줬습니다.

일자    datetime64[ns]
평균            object
dtype: object

#선형회귀 코드

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from math import sqrt

###배

In [ ]:
# 인덱스 추출
# 독립변수 X는 품목번호, 단위, 시장 유형
pX = pear.drop(['일자','품목','시장/마트 이름','시장 유형','가격(원)'], axis=1) 
# 종속변수 y는 가격
py = pear[['가격(원)']]
pX_train, pX_test, py_train, py_test = train_test_split(pX, py, test_size=0.3, random_state=5)

pLR = LinearRegression()
pLR.fit(X_train, y_train)

In [ ]:
print(pLR.score(pX_train, py_train))
print(pLR.score(pX_test, py_test))

###고등어

In [ ]:
# 인덱스 추출
# 독립변수 X는 품목번호, 단위, 시장 유형
mX = mackerel.drop(['일자','품목','시장/마트 이름','시장 유형','가격(원)'], axis=1) 
# 종속변수 y는 가격
my = mackerel[['가격(원)']]
mX_train, mX_test, my_train, my_test = train_test_split(mX, my, test_size=0.3, random_state=5)

mLR = LinearRegression()
mLR.fit(X_train, y_train)

In [ ]:
print(mLR.score(mX_train, my_train))
print(mLR.score(mX_test, my_test))

###오징어

In [ ]:
# 인덱스 추출
# 독립변수 X는 품목번호, 단위, 시장 유형
sX = squid.drop(['일자','품목','시장/마트 이름','시장 유형','가격(원)'], axis=1) 
# 종속변수 y는 가격
sy = squid[['가격(원)']]
sX_train, sX_test, sy_train, sy_test = train_test_split(sX, sy, test_size=0.3, random_state=5)

sLR = LinearRegression()
sLR.fit(sX_train, sy_train)

In [ ]:
print(sLR.score(sX_train, sy_train))
print(sLR.score(sX_test, sy_test))

###무

In [ ]:
# 인덱스 추출
# 독립변수 X는 품목번호, 단위, 시장 유형
rX = radish.drop(['일자','품목','시장/마트 이름','시장 유형','가격(원)'], axis=1) 
# 종속변수 y는 가격
ry = radish[['가격(원)']]
rX_train, rX_test, ry_train, ry_test = train_test_split(rX, ry, test_size=0.3, random_state=5)

rLR = LinearRegression()
rLR.fit(rX_train, ry_train)

In [ ]:
print(rLR.score(rX_train, ry_train))
print(rLR.score(rX_test, ry_test))

### 배추

In [ ]:
# 인덱스 추출
# 독립변수 X는 품목번호, 단위, 시장 유형
cX = cabbage.drop(['일자','품목','시장/마트 이름','시장 유형','가격(원)'], axis=1) 
# 종속변수 y는 가격
cy = cabbage[['가격(원)']]
cX_train, cX_test, cy_train, cy_test = train_test_split(cX, cy, test_size=0.3, random_state=5)

cLR = LinearRegression()
cLR.fit(cX_train, cy_train)

In [ ]:
print(cLR.score(cX_train, cy_train))
print(cLR.score(cX_test, cy_test))